body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
}

.display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: #4d4d4d;
  text-shadow: 2px 2px 2px #000000bf;
  margin-bottom: 25px;
}

.controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width:125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color:white;
  transition: background-color 0.5s ease;
}

.start-button {
  background-color: #11cc00;
}

.start-button:hover {
  background-color: hsl(115, 100%, 35%);
}

.stop-button {
  background-color: #f2330d;
}

.stop-button:hover {
  background-color: #cc2200;
}

.reset-button {
  background-color: #3da8f5;

}

.reset-button:hover {
  background-color: #259df4;
}